/p11-kit-*.tar.gz
/.*.log
/*.src.rpm
/p11-kit-0.*/
/x86_64/
/trust-extract-compat
/p11-kit-0.23.9.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.9.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.10.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.12.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.14.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.15.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.16.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.16.1.tar.gz
